USE [BT5New]
GO
/****** Object:  Table [dbo].[BangDiemHS]    Script Date: 17-Oct-19 7:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiemHS](
	[MAHS] [nvarchar](5) NOT NULL,
	[Hoten] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[TenTruong] [nvarchar](150) NULL,
	[TD] [float] NULL,
	[Toan] [float] NULL,
	[Van] [float] NULL,
 CONSTRAINT [PK_BangDiemHS] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACH]    Script Date: 17-Oct-19 7:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACH](
	[MAHS] [nvarchar](5) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[PHAI] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[MATRUONG] [nvarchar](4) NULL,
 CONSTRAINT [PK_DANHSACH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 17-Oct-19 7:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nvarchar](5) NOT NULL,
	[MON] [nvarchar](10) NOT NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUONG]    Script Date: 17-Oct-19 7:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONG](
	[MATRUONG] [nvarchar](4) NOT NULL,
	[TENTRUONG] [nvarchar](40) NULL,
 CONSTRAINT [PK_TRUONG] PRIMARY KEY CLUSTERED 
(
	[MATRUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANHSACH] ([MAHS], [HO], [TEN], [PHAI], [NGAYSINH], [MATRUONG]) VALUES (N'0001', N'Nguyen Viet', N'Hong', 0, CAST(N'1983-04-04T00:00:00.000' AS DateTime), N'LHP')
INSERT [dbo].[DANHSACH] ([MAHS], [HO], [TEN], [PHAI], [NGAYSINH], [MATRUONG]) VALUES (N'0002', N'Tran Van', N'Minh', 0, CAST(N'1984-04-17T00:00:00.000' AS DateTime), N'LHP')
INSERT [dbo].[DANHSACH] ([MAHS], [HO], [TEN], [PHAI], [NGAYSINH], [MATRUONG]) VALUES (N'0008', N'Tran Thanh', N'Phong', 0, CAST(N'1983-03-21T00:00:00.000' AS DateTime), N'LHP')
GO
INSERT [dbo].[DIEM] ([MAHS], [MON], [DIEM]) VALUES (N'0001', N'Toan', 8.5)
INSERT [dbo].[DIEM] ([MAHS], [MON], [DIEM]) VALUES (N'0001', N'Van', 6)
INSERT [dbo].[DIEM] ([MAHS], [MON], [DIEM]) VALUES (N'0002', N'Toan', 9)
GO
INSERT [dbo].[TRUONG] ([MATRUONG], [TENTRUONG]) VALUES (N'BTX', N'Truong PTTH Bui Thi Xuan')
INSERT [dbo].[TRUONG] ([MATRUONG], [TENTRUONG]) VALUES (N'LHP', N'Truong PTTH Chuyen Le Hong Phong')
INSERT [dbo].[TRUONG] ([MATRUONG], [TENTRUONG]) VALUES (N'LQD', N'Truong PTTH Le Quy Don')
